# requirements.txt
python-dotenv
langchain
langchain-google-genai
langgraph
langchain-mcp-adapters
langchain-community
flask
uvicorn
gunicorn
gradio
pillow
requests
hypercorn
mcp[cli]
python-pptx
fonttools
pypdf
docx2txt