# requirements.txt
python-dotenv
langchain
langchain-google-genai
langgraph
langchain-mcp-adapters
flask[async] #flask
langchain-community
uvicorn
gunicorn
gradio
pillow
requests
hypercorn
pygetwindow
pynput 
opencv-python
numpy
pywin32
torch
torchvision
keyboard
mouse
mcp[cli]
python-pptx
fonttools
pypdf
docx2txt

